@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Yekan";
  src: url("/fonts/YekanBakh-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yekan";
  src: url("/fonts/YekanBakh-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yekan";
  src: url("/fonts/YekanBakh-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yekan";
  src: url("/fonts/YekanBakh-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

#__next {
  min-height: 100%;
}

body {
  @apply bg-main-background font-yekan font-semibold overflow-x-hidden;
}

@theme {
  /* colors */
  --color-title: #000000;
  --color-secondary-title: #1e1328;
  --color-description: #2a2a2a;
  --color-main-color: #3e243c;
  --color-main-color-active: #a45f9e;
  --color-secondary-color: #a4afb1;
  /* bg-colors */
  --color-main-background: #f8fffc;
  --color-secondary-background: #fafff4;
  --color-section-background: #f8fffc;
  --color-help-download: #fff6fe;
  /* shadow */

  --shadow-main-page: 0px 4px 4px 0px #fe32ff;
  --shadow-product-card: 0px 2px 4px #1e132840;
  --shadow-detail-shadow: 0px 0px 16px #00000040;
  --shadow-border: 0px 8px 8px 0px #00000040;
  --shadow-hero-section: 0px 4px 4px 0px #00000040;

  /* font */
  --font-yekan: "yekan";
}

@utility container {
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 90%; /* Simulates the 90% zoom effect */

  @variant sm {
    max-width: 576px; /* Slightly reduced */
    padding-inline: 2rem;
  }
  @variant md {
    max-width: 691px; /* 90% of 768px */
    padding-inline: 3rem;
  }
  @variant lg {
    max-width: 921px; /* 90% of 1024px */
    padding-inline: 4rem;
  }
  @variant xl {
    max-width: 1152px; /* 90% of 1280px */
    padding-inline: 5rem;
  }
  @variant 2xl {
    max-width: 1382px; /* 90% of 1536px */
    padding-inline: 6rem;
  }
}

@layer utilities {
  /* shadows */
  .shadow-gradient {
    position: relative;
  }
  .shadow-gradient::before {
    content: "";
    position: absolute;
    top: -80;
    left: -50;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #ffc4fa, #efffd8, #a4e7fc);
    filter: blur(50px);
    z-index: -1;
    border-radius: 50%;
    opacity: 0.7;
  }
  .future-section-shadow-gradient {
    position: relative;
  }
  .future-section-shadow-gradient::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0px;
    right: 0px;
    width: 140%;
    height: 110%;
    background: linear-gradient(to bottom right, #ffc4fa, #efffd8, #a4e7fc);
    filter: blur(50px);
    z-index: -1;
    border-radius: 50%;
    opacity: 0.7;
  }
  .footer-shadow-gradient {
    position: relative;
  }
  .footer-shadow-gradient::before {
    content: "";
    position: absolute;
    top: -80;
    left: -50;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #ffc4fa, #efffd8, #a4e7fc);
    filter: blur(50px);
    z-index: -1;
    border-radius: 50%;
    opacity: 0.7;
  }
  .bg-rainbow-gradient {
    background: rgb(255, 196, 250);
    background: linear-gradient(
      135deg,
      rgba(255, 196, 250, 1) 0%,
      rgba(239, 255, 216, 1) 50%,
      rgba(164, 231, 252, 1) 100%
    );
  }
  .bg-purple-gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(113, 65, 109, 1) 75.5%,
      rgba(164, 95, 158, 1) 100%
    );
  }

  .bg-purple-gradient-hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(113, 65, 109, 1) 24.9%,
      rgba(164, 95, 158, 1) 100%
    );
  }

  .our-products-section {
    @apply h-full lg:h-[500px] grid items-center gap-y-4 gap-x-4 lg:grid-cols-5 lg:grid-rows-1 lg:gap-y-0 lg:gap-x-6;
  }
  .our-futures-section {
    @apply grid col-span-1 sm:grid-cols-2 sm:grid-rows-3 gap-x-4 gap-y-8 lg:gap-8 lg:grid-cols-3 lg:grid-rows-2;
  }

  .product-card {
    @apply bg-white h-full lg:h-[450px] rounded-2xl shadow-product-card p-4;
  }

  .future-card {
    @apply bg-white w-full h-full rounded-2xl shadow-product-card p-4;
  }
  .section-shadows {
    @apply shadow-[0px_0px_15px_#00000020];
  }
}
